@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background: var(--color-main);
  color: var(--color-secondary);
}

#container {
  padding: var(--standard-spacing);
  min-height: 100vh;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

:root {
  font-size: 16px;
}
