input {
  height: 50px;
  border-radius: var(--border-radius);
  border-color: var(--color-orange);
  font-size: 1.3rem;
  padding-left: 8px;
}

@media (max-width: 650px) {
  input {
    height: 30px;
    font-size: 1rem;
  }
}
